nav {
    display:flex
}
/* // <uniquifier>: Use a unique and descriptive class name */ */
 /* <weight>: Use a value from 300 to 800 */

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
nav{
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    flood-color: rgb(39, 5, 5);
}
/* nav >h3 >span {
    color: brown;
} */
 
.text{
    color: rgb(233, 93, 17);

}
nav > ul > li >a {
    text-decoration: none;
    
}
nav > ul {
    
    display: flex;
}
nav li {
    list-style: none;
    margin-top: 20px;
    margin-right: 51px;


}

.button{
    width: 150px;
    height: 65px;
    background-color: rgb(233, 93, 17);
}
nav h3 {
    margin-right: 400px;
}
nav{
    justify-content: space-between;
    display: flex;
    margin: 0 200px;
}
.header{
    background-color:rgb(253, 219, 206) ;
    margin-bottom: 30px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .pic {
    width: 500px;
}
.banner1{
    font-size: 45px;
    color: rgb(99, 111, 122);
    margin-bottom: 0px;
}
.banner2{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
}
.banner3{
    font-size: 35px;
}

/* main section  */

/* about section */
.about{
    padding: 130px;
    border-radius:10px ;
    background-color: rgb(235, 220, 190);
    margin: 100px 70px 100px 70px;
}

.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.description{
    text-align: center;
    font-size: 18px;

}
main{
    min-width: 1140px;
    margin: 0px auto;
}
.about-info-div{
    display: flex;
    justify-content:space-between;
    margin-top: 100px;
}
#what-i-do{
    padding: 30px 150px;
    text-align: center;
    /* background-color: white; */
}
#what{
    margin-top: 30px;
}
.skill-div{
    /* justify-content: center; */
    display: flex;
    height: 100%;
    width: 100%;
}
.skill{
    background-color: rgb(234, 234, 226);
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
}